-if @post.errors.any?
  - @post.errors.full_messages.each do |msg|
    p.error =msg

=form_for @post do |f|
  =f.label(:author, 'Author: ')
  br
  =f.text_field(:author, id: 'post_author')
  br
  =f.label(:title, 'Title: ')
  br
  =f.text_field(:title, id: 'post_title')
  br
  =f.label(:body, 'Body: ')
  br
  =f.text_area(:body, id: 'post_body')
  br
  =f.label(:tags_string, 'Tag field: ')
  br
  =f.text_field(:tags_string, value: (@post.tags.map { |e| e.name }).join(' '), id: 'post_tags_string')
  br
  =f.submit('Save')
  br
  =link_to 'Cancel', root_path