.posts
  center
    h1
      =link_to 'Posts', root_path
    hr

    b Filter by tag
    .tags
      - @tags.each do |tag|
        =link_to tag.name, filtered_posts_path(tag), class: 'filter-by-tag'
    hr

  =link_to 'New Post', new_post_path, class: 'button'
  br

  table
    - @posts.each do |post|
      tr.bottom-line id="post-row-#{post.id.to_s}"
        td width=150 valign='top'
          div
            h3.post-author =post.author
            div
              span.post-tags
                =(post.tags.map { |e| e.name }).join(', ')
        td valign='top'
          h4.post-title =post.title
          hr.dotted-line
          p.post-body =post.body
        td =link_to 'Edit', edit_post_path(post), class: 'edit_button'
        td =link_to 'Delete', post_path(post), method: :delete, class: 'destroy_button'